@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');

/*******************************************Header Section*****************************************************/

.hero__section {
    /* height: 100vh;
    background-image: url(https://github.com/jepery/Mini-Project-1/blob/main/images/bg.png?raw=true);
    background-size: cover;
    background-position: center;
     */
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.header-text h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 70px;
}

.header-text h2 {
    font-size: 50px;
}

.header-text h3 {
    font-size: 20px;
    margin: 10px 10px;
}

.video-background-holder {
  position: relative;
  background-color: black;
  height: calc(100vh - 72px);
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.video-background-holder video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.video-background-content {
  position: relative;
  z-index: 2;
}

.video-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

/*******************************************Portfolio*****************************************************/


/*******************************************Resume Section*****************************************************/

  .resume{
    height: 100vh;
    padding: 50px 0;
    background-color: #1F1C1C;
    text-align: center;
  }

  .resume h2{
    margin-top: 1%;
    font-size: 30px;
    color: #fff;
    font-weight: 100;
  }
  .mobile__resume{
    display: none;
  }

  
  /*******************************************About Section*****************************************************/

  .about__img{
    border-radius: 10px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  }


  /*******************************************Services*****************************************************/


  /*******************************************Blogs*****************************************************/
  .blog__text{
    text-indent: 50px;
  }

  /*******************************************Contact*****************************************************/



  /*******************************************Footer*****************************************************/

  footer{
    background-color: black;
  }

  @media screen and (max-width: 990px) {
    .mobile__resume{
      display: block;
    }
    .desktop__resume{
      display: none;
    }
  
  }