/*******************************************Header Section*****************************************************/

.hero__section {
    height: 100vh;
    background-image: url(https://github.com/jepery/Mini-Project-1/blob/main/images/sample.png?raw=true);
    background-size: cover;
    background-position: center;
    
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.header-text h1 {
    font-size: 70px;
}

.header-text h2 {
    font-size: 50px;
}

.header-text h3 {
    font-size: 20px;
    margin: 10px 10px;
}

/*******************************************Portfolio*****************************************************/



/*******************************************Resume Section*****************************************************/

  .resume{
    height: 100vh;
    padding: 50px 0;
    background-color: #1F1C1C;
    text-align: center;
  }

  .resume h2{
    margin-top: 1%;
    font-size: 30px;
    color: #fff;
    font-weight: 100;
  }
  .mobile__resume{
    display: none;
  }

  
  /*******************************************About Section*****************************************************/

  /* .about__me-section{
    height: 90vh;
  } */

  .about__img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  }

  

  /*******************************************Services*****************************************************/


  /*******************************************Blogs*****************************************************/


  /*******************************************Contact*****************************************************/



  /*******************************************Footer*****************************************************/

  footer{
    background-color: black;
  }

  @media screen and (max-width: 990px) {
    .mobile__resume{
      display: block;
    }
    .desktop__resume{
      display: none;
    }
  
  }