* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero__section {
    height: 100vh;
    background-image: url(https://github.com/jepery/Mini-Project-1/blob/main/images/sample.png?raw=true);
    background-size: cover;
    background-position: center;
}

nav {
    text-align: center;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    display: inline-block;
    margin: 70px 10px;
    text-decoration: none;
    color: white;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.header-text h1 {
    font-size: 70px;
  }
.header-text h2 {
    font-size: 50px;
}
.header-text h3{
    font-size: 20px;
    margin: 10px 10px;
}